In [53]:
# lets import lib 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


# frame orkf
import tensorflow 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import SGD
from tensorflow.keras.datasets import mnist
from tensorflow.keras.callbacks import EarlyStopping


from sklearn.model_selection import train_test_split

In [54]:
df = pd.read_csv("../..//Dataset/predicthourlywage/Income_training.csv")

In [55]:
tf = pd.read_csv("../..//Dataset/predicthourlywage/Income_testing.csv")

In [56]:
# test_X = tf[['age','yearsEducation','sex1M0F']]

In [57]:
df

      compositeHourlyWages  age  yearsEducation  sex1M0F
0                    21.38   58              10        1
1                    25.15   42              16        1
2                     8.57   31              12        0
3                    12.07   43              13        0
4                    10.97   46              12        0
...                    ...  ...             ...      ...
3192                 14.00   29              14        0
3193                 23.04   56              15        0
3194                 10.00   61               8        1
3195                 10.00   40              15        0
3196                  6.57   28              13        0

[3197 rows x 4 columns]

In [58]:
X = df[['age','yearsEducation','sex1M0F']]

In [59]:
X.head(3)

   age  yearsEducation  sex1M0F
0   58              10        1
1   42              16        1
2   31              12        0

In [60]:
y = df[['compositeHourlyWages']]

In [61]:
y

      compositeHourlyWages
0                    21.38
1                    25.15
2                     8.57
3                    12.07
4                    10.97
...                    ...
3192                 14.00
3193                 23.04
3194                 10.00
3195                 10.00
3196                  6.57

[3197 rows x 1 columns]

In [62]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

In [63]:
shape_input = X_train.shape
shape_input = shape_input[1]

In [73]:
model = Sequential()
model.add(Dense(10 , activation='relu',input_shape=(shape_input,)))
model.add(Dense(10,activation = 'relu'))
model.add(Dense(1))

In [74]:
model.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 10)                40
_________________________________________________________________
dense_16 (Dense)             (None, 10)                110
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 11
=================================================================
Total params: 161
Trainable params: 161
Non-trainable params: 0
_________________________________________________________________

In [84]:
# compile 
model.compile(optimizer='adam' ,loss='mean_squared_error',
             metrics = ['accuracy'])

earlystopmonitor = EarlyStopping(patience=3)

In [85]:
model.fit(X_train, y_train, validation_split=0.2, epochs=30, callbacks=[earlystopmonitor])

Epoch 1/30
54/54 [==============================] - 1s 5ms/step - loss: 60.4756 - accuracy: 0.0000e+00 - val_loss: 63.1770 - val_accuracy: 0.0000e+00
Epoch 2/30
54/54 [==============================] - 0s 3ms/step - loss: 60.1128 - accuracy: 0.0000e+00 - val_loss: 62.9837 - val_accuracy: 0.0000e+00
Epoch 3/30
54/54 [==============================] - 0s 3ms/step - loss: 59.8774 - accuracy: 0.0000e+00 - val_loss: 62.8523 - val_accuracy: 0.0000e+00
Epoch 4/30
54/54 [==============================] - 0s 4ms/step - loss: 59.7436 - accuracy: 0.0000e+00 - val_loss: 62.7840 - val_accuracy: 0.0000e+00
Epoch 5/30
54/54 [==============================] - 0s 4ms/step - loss: 59.6521 - accuracy: 0.0000e+00 - val_loss: 62.7678 - val_accuracy: 0.0000e+00
Epoch 6/30
54/54 [==============================] - 0s 4ms/step - loss: 59.6107 - accuracy: 0.0000e+00 - val_loss: 62.7598 - val_accuracy: 0.0000e+00
Epoch 7/30
54/54 [==============================] - 0s 4ms/step - loss: 59.5898 - accuracy: 0.0000e+00 - val_loss: 62.7616 - val_accuracy: 0.0000e+00
Epoch 8/30
54/54 [==============================] - 0s 4ms/step - loss: 59.5765 - accuracy: 0.0000e+00 - val_loss: 62.7645 - val_accuracy: 0.0000e+00
Epoch 9/30
54/54 [==============================] - 0s 4ms/step - loss: 59.5714 - accuracy: 0.0000e+00 - val_loss: 62.7750 - val_accuracy: 0.0000e+00

In [86]:
test_y_predictions = model.predict(X_test)

In [87]:
test_y_predictions

array([[15.516103],
       [15.516103],
       [15.516103],
       ...,
       [15.516103],
       [15.516103],
       [15.516103]], dtype=float32)

In [88]:
history = model.fit(X_train, y_train ,
            batch_size = 100,
            epochs=30,
            verbose=1,
                    validation_data=(X_test,y_test)
                   )

Epoch 1/30
22/22 [==============================] - 0s 5ms/step - loss: 60.2052 - accuracy: 0.0000e+00 - val_loss: 59.9455 - val_accuracy: 0.0000e+00
Epoch 2/30
22/22 [==============================] - 0s 2ms/step - loss: 60.2070 - accuracy: 0.0000e+00 - val_loss: 59.9444 - val_accuracy: 0.0000e+00
Epoch 3/30
22/22 [==============================] - 0s 2ms/step - loss: 60.2050 - accuracy: 0.0000e+00 - val_loss: 59.9449 - val_accuracy: 0.0000e+00
Epoch 4/30
22/22 [==============================] - 0s 2ms/step - loss: 60.2074 - accuracy: 0.0000e+00 - val_loss: 59.9453 - val_accuracy: 0.0000e+00
Epoch 5/30
22/22 [==============================] - 0s 2ms/step - loss: 60.2047 - accuracy: 0.0000e+00 - val_loss: 59.9451 - val_accuracy: 0.0000e+00
Epoch 6/30
22/22 [==============================] - 0s 4ms/step - loss: 60.2051 - accuracy: 0.0000e+00 - val_loss: 59.9444 - val_accuracy: 0.0000e+00
Epoch 7/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2053 - accuracy: 0.0000e+00 - val_loss: 59.9441 - val_accuracy: 0.0000e+00
Epoch 8/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2049 - accuracy: 0.0000e+00 - val_loss: 59.9445 - val_accuracy: 0.0000e+00
Epoch 9/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2058 - accuracy: 0.0000e+00 - val_loss: 59.9442 - val_accuracy: 0.0000e+00
Epoch 10/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2090 - accuracy: 0.0000e+00 - val_loss: 59.9455 - val_accuracy: 0.0000e+00
Epoch 11/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2048 - accuracy: 0.0000e+00 - val_loss: 59.9448 - val_accuracy: 0.0000e+00
Epoch 12/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2040 - accuracy: 0.0000e+00 - val_loss: 59.9447 - val_accuracy: 0.0000e+00
Epoch 13/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2044 - accuracy: 0.0000e+00 - val_loss: 59.9447 - val_accuracy: 0.0000e+00
Epoch 14/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2058 - accuracy: 0.0000e+00 - val_loss: 59.9441 - val_accuracy: 0.0000e+00
Epoch 15/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2039 - accuracy: 0.0000e+00 - val_loss: 59.9444 - val_accuracy: 0.0000e+00
Epoch 16/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2065 - accuracy: 0.0000e+00 - val_loss: 59.9440 - val_accuracy: 0.0000e+00
Epoch 17/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2048 - accuracy: 0.0000e+00 - val_loss: 59.9445 - val_accuracy: 0.0000e+00
Epoch 18/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2048 - accuracy: 0.0000e+00 - val_loss: 59.9443 - val_accuracy: 0.0000e+00
Epoch 19/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2067 - accuracy: 0.0000e+00 - val_loss: 59.9438 - val_accuracy: 0.0000e+00
Epoch 20/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2101 - accuracy: 0.0000e+00 - val_loss: 59.9447 - val_accuracy: 0.0000e+00
Epoch 21/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2055 - accuracy: 0.0000e+00 - val_loss: 59.9440 - val_accuracy: 0.0000e+00
Epoch 22/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2041 - accuracy: 0.0000e+00 - val_loss: 59.9439 - val_accuracy: 0.0000e+00
Epoch 23/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2054 - accuracy: 0.0000e+00 - val_loss: 59.9441 - val_accuracy: 0.0000e+00
Epoch 24/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2039 - accuracy: 0.0000e+00 - val_loss: 59.9442 - val_accuracy: 0.0000e+00
Epoch 25/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2051 - accuracy: 0.0000e+00 - val_loss: 59.9439 - val_accuracy: 0.0000e+00
Epoch 26/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2041 - accuracy: 0.0000e+00 - val_loss: 59.9442 - val_accuracy: 0.0000e+00
Epoch 27/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2045 - accuracy: 0.0000e+00 - val_loss: 59.9440 - val_accuracy: 0.0000e+00
Epoch 28/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2062 - accuracy: 0.0000e+00 - val_loss: 59.9444 - val_accuracy: 0.0000e+00
Epoch 29/30
22/22 [==============================] - 0s 6ms/step - loss: 60.2038 - accuracy: 0.0000e+00 - val_loss: 59.9441 - val_accuracy: 0.0000e+00
Epoch 30/30
22/22 [==============================] - 0s 3ms/step - loss: 60.2062 - accuracy: 0.0000e+00 - val_loss: 59.9440 - val_accuracy: 0.0000e+00

In [90]:
score = model.evaluate(X_test, y_test)

33/33 [==============================] - 0s 1ms/step - loss: 59.9440 - accuracy: 0.0000e+00